* {
    margin: 0;
    padding: 0;
}

#titulo {
    font-family: sans-serif;
    color: #380b61;
    margin-left: 7%;
}

#subtitulo {
    font-family: sans-serif;
    color: #380b61;
    margin-left: 10%;
}

fieldset {
    border: 0;
}

